


.myDiv{

    background: linear-gradient(135deg, #e3f2fd, #f3e5f5);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: 30px;
    height: 20%;
    margin-left: 380px;
    width: 600px;
    height: 500px;
    text-align: center;
}

.classH2{
    color: rgb(88, 89, 177);
    font-weight: bolder;
    text-shadow: 1px 1px 2px  black;;
}

.subtitle{
    margin-top: 20px;
    font-weight: bolder;
}

.inputDiv{
    margin: 20px;
    margin-top: 30px;
}

#userName, #password{
    margin: 15px;
    border-radius: 8px;
    border: 2px solid lavender;
    height: 40px;
    width: 400px;
}

#submitButton{
    width: 400px;
    height: 40px;
    background-color: rgb(75, 184, 199);
    margin-bottom: 50px;
}

.error{
    color: black;
    font-weight: bolder;
}